*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.container{
    height: 80vh;
    flex-basis: 95%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.one{
    /* flex-basis: 100%; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.one .a{
    background-color: rgba(165, 42, 42, 0.26);
}
.one .b{
    background-color: rgba(137, 43, 226, 0.301);
}
.one .c{
    background-color: rgba(210, 105, 30, 0.26);
}
.two{
    background-color: rgba(117, 117, 42, 0.301);
}
.a, .b, .c, .two{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.extra_text{
    display: none;
}
.img{
    flex-basis: 40%;
}
.img img{
    height: 100%;
    width: 100%;
}
.p{
    flex-basis: 58%;
}

@media (min-width : 800px){
    section{
        height: 100vh;
    }
    .container{
        flex-direction: row;
        flex-basis: 60%;
    }
    .one{
        display: flex;
        flex-basis: 80%;
    }
    .two{
        flex-basis: 20%;
        flex-direction: column;
        margin-left: 4px;
    }
    .two .p{
        padding-left: 7px;
    }
    .extra_text{
        display: initial;
    }
    .a:hover{
        background-image: url("./images/images (1).jpg");
        background-size: 980px 400px;
        /* background-size: cover; */
        color: rgb(7, 7, 7);
        font-size: 23px;
        font-weight: 500;
    }
    .a:hover .a_img{
        display: none;
    }
    .a:hover .a_p{
        background-color: rgba(240, 248, 255, 0.685);
    }
    .b:hover{
        background-image: url("./images/images (4).jpg");
        background-size: 980px 400px;
        /* background-size: cover; */
        color: rgb(7, 7, 7);
        font-size: 23px;
        font-weight: 500;
    }
    .b:hover .b_img{
        display: none;
    }
    .b:hover .b_p{
        background-color: rgba(240, 248, 255, 0.685);
    }
    .c:hover{
        background-image: url("./images/images (2).jpg");
        /* background-size: 980px 400px; */
        background-size: cover;
        color: rgb(7, 7, 7);
        font-size: 23px;
        font-weight: 500;
    }
    .c:hover .c_img{
        display: none;
    }
    .c:hover .c_p{
        background-color: rgba(240, 248, 255, 0.685);
    }
    .two:hover{
        flex-basis: 40%;
        background-image: url("./images/images\ \(3\).jpg");
        background-size: 100% 100%;
        color: rgb(7, 7, 7);
        font-size: 23px;
        font-weight: 500;
    }
    .two:hover .two_img{
        display: none;
    }
    .two:hover .two_p{
        background-color: rgba(240, 248, 255, 0.685);
    }
}
